apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cranecloud-backend.fullname" . }}-celery
  labels:
    {{- include "cranecloud-backend.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.celery.replicaCount }}
  selector:
    matchLabels:
      {{- include "cranecloud-backend.selectorLabels" . | nindent 6 }}
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "cranecloud-backend.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "cranecloud-backend.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ include "cranecloud-backend.name" . }}-celery
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - "celery"
            - "-A"
            - "server.celery"
            - "worker"
            - "--loglevel=info"
          env:
          - name: test
            value: test
          {{- range $key, $value := .Values.environment }}
          - name: {{ $key }}
            value: {{ $value | quote }}
          {{- end }}
          ports:
            - name: celery-worker
              containerPort: 5001
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: celery-worker
          readinessProbe:
            httpGet:
              path: /
              port: celery-worker
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
