<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crane-Cloud</title>
    <style>
        @media only screen and (max-width: 600px) {
            body, table, td, p, a {
                font-size: 14px !important;
            }
            h1 {
                font-size: 20px !important;
            }
            h2 {
                font-size: 18px !important;
            }
            .mobile-padding {
                padding: 10px !important;
            }
            .mobile-margin {
                margin: 10px !important;
            }
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #EAF0F3;">
    <!-- Message Container -->
    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: #ffffff; border-radius: 10px; margin: 30px auto;">
        <tr>
            <td align="left" valign="top" style="padding: 40px;">
                <!-- Logo and Greeting -->
                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="left">
                    <tr>
                        <td align="left" valign="top">
                            <img src="https://raw.githubusercontent.com/crane-cloud/frontend/develop/public/favicon.png" alt="Logo" style="display: block; max-width: 80px; margin: 0 auto 0px;">
                            

                            <h1 style="font-size: 24px; color: #333333; margin: 0 0 20px;">Hi there,</h1>
                        </td>
                    </tr>
                </table>
                
                <!-- Center-aligned Content -->
                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td align="center" valign="top">
                            <!-- Email Content -->
                            {% if success == true %}
                            <p style="font-size: 16px; color: #333333; line-height: 1.5;">This email is to inform you that you have been invited to collaborate on the <b>{{project_name}}</b> project by <b>{{name}}</b>. You've been assigned a role: <b>{{email_role}}</b> on this project!</p>
                            <p style="font-size: 16px; color: #333333; line-height: 1.5;">You are required to register with Crane Cloud in order to gain access to the project and collaborate.</p>
                            
                            <!-- Register Button -->
                            <table cellpadding="0" cellspacing="0" border="0" align="center" style="margin: 20px 0;">
                                <tr>
                                    <td align="center" bgcolor="#008ac1" style="border-radius: 20px;">
                                        <a href="https://app.cranecloud.io/" target="_blank" style="font-size: 16px; font-weight: bold; color: #ffffff; text-decoration: none; display: inline-block; padding: 12px 24px; border-radius: 5px;">Register Here</a>
                                    </td>
                                </tr>
                            </table>
                            
                            <!-- Fallback Link -->
                            <p style="font-size: 16px; color: #333333; line-height: 1.5;"><a href="https://app.cranecloud.io/" target="_blank" style="color: #008ac1;">Click here if the button does not work</a></p>
                            
                            <!-- Signature -->
                            {% else %}
                            <p style="font-size: 16px; color: #333333; line-height: 1.5;">There was an issue sending your invitation to collaborate to a project. Please check your email address and try again later. If the problem persists, contact our support team for assistance.</p>
                            {% endif %}
                            <p style="font-size: 16px; color: #333333; text-align: left; line-height: 1.5;">Cheers!<br>Crane Cloud Team</p>
                        </td>
                    </tr>
                 
                    <tr>
                        <td align="left" valign="top" style="padding: 20px; border-top: 1px #ddd solid; margin-top: 20px;">
                            <!-- Connect with Us Text -->
                            <h3 style="font-size: 16px; color: #888; text-align: center; margin: 0 0 5px;">Connect with us</h3>
                            
                            <!-- Social Media Icons -->
                            <table cellpadding="0" cellspacing="0" border="0" align="center">
                               <tr>
                                    <td align="center" valign="middle" style="padding: 0 10px;">
                                        <a href="" target="_blank" style="text-decoration: none;">
                                            <i class="fab fa-facebook" style="font-size:30px;color:rgb(1, 101, 225)"></i>
                                        </a>
                                    </td>
                                    <td align="center" valign="middle" style="padding: 0 10px;">
                                        <a href="https://medium.com/cranecloud" target="_blank" style="text-decoration: none;">
                                            <i class="fab fa-medium" style="font-size:24px;color:grey"></i>
                                        </a>
                                    </td>
                                    <!-- <td align="center" valign="middle" style="padding: 0 10px;">
                                        <a href="" target="_blank" style="text-decoration: none;">
                                            <i class="fab fa-slack" style="font-size:24px;color:rgb(11, 184, 155)"></i>
                                        </a>
                                    </td> -->
                                    <td align="center" valign="middle" style="padding: 0 10px;">
                                        <a href="https://www.linkedin.com/company/cranecloud/" target="_blank" style="text-decoration: none;">
                                            <i class="fab fa-linkedin" style="font-size:24px;color:rgb(10, 102, 194)"></i>
                                        </a>
                                    </td>
                                    <td align="center" valign="middle" style="padding: 0 10px;">
                                        <a href="" target="_blank" style="text-decoration: none;">
                                            <i class="fab fa-instagram" style="font-size:24px;color:rgb(193, 53, 132)"></i>
                                        </a>
                                    </td>
                                    <td align="center" valign="middle" style="padding: 0 10px;">
                                        <a href="https://www.youtube.com/@cranecloud571" target="_blank" style="text-decoration: none;">
                                            <i class="fab fa-youtube" style="font-size:24px;color:red"></i>
                                        </a>
                                    </td>
                                    <td align="center" valign="middle" style="padding: 0 10px;">
                                        <a href="https://twitter.com/cranecloud_io" target="_blank" style="text-decoration: none;">
                                            <i class="fa-brands fa-x-twitter" style="font-size:24px;color:black"></i>
                                        </a>
                                    </td>
                               </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="padding: 0 40px;">
                            <!-- Copyright Text -->
                            <p style="font-size: 12px; color: #555; text-align: center; margin: 0;">Copyright &copy; 2024 Crane Cloud Limited</p>
                            <p style="font-size: 12px; color: #555; margin: 10px">This email was meant for {{email}}. If you received this email by mistake, please disregard it. <br>If you have any questions or need further assistance, please contact our support team.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
                
                   <!-- Social Media and Copyright Section -->
    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style=" border-radius: 10px; margin: 0px auto;">
      <tr>
          <td align="left" valign="top" style="padding: 20px;">
              <!-- Connect with Us Text -->
              <h3 style="font-size: 18px; color: #333333; text-align: center; margin: 0 0 5px;">Connect with us</h3>
              
              <!-- Social Media Icons -->
              <table cellpadding="0" cellspacing="0" border="0" align="center">
                 <tr>
                      <td align="center" valign="middle" style="padding: 0 10px;">
                          <a href="" target="_blank" style="text-decoration: none;">
                              <i class="fab fa-facebook" style="font-size:30px;color:rgb(1, 101, 225)"></i>
                          </a>
                      </td>
                      <td align="center" valign="middle" style="padding: 0 10px;">
                          <a href="https://medium.com/cranecloud" target="_blank" style="text-decoration: none;">
                              <i class="fab fa-medium" style="font-size:24px;color:grey"></i>
                          </a>
                      </td>
                      <!-- <td align="center" valign="middle" style="padding: 0 10px;">
                          <a href="" target="_blank" style="text-decoration: none;">
                              <i class="fab fa-slack" style="font-size:24px;color:rgb(11, 184, 155)"></i>
                          </a>
                      </td> -->
                      <td align="center" valign="middle" style="padding: 0 10px;">
                          <a href="https://www.linkedin.com/company/cranecloud/" target="_blank" style="text-decoration: none;">
                              <i class="fab fa-linkedin" style="font-size:24px;color:rgb(10, 102, 194)"></i>
                          </a>
                      </td>
                      <td align="center" valign="middle" style="padding: 0 10px;">
                          <a href="" target="_blank" style="text-decoration: none;">
                              <i class="fab fa-instagram" style="font-size:24px;color:rgb(193, 53, 132)"></i>
                          </a>
                      </td>
                      <td align="center" valign="middle" style="padding: 0 10px;">
                          <a href="https://www.youtube.com/@cranecloud571" target="_blank" style="text-decoration: none;">
                              <i class="fab fa-youtube" style="font-size:24px;color:red"></i>
                          </a>
                      </td>
                      <td align="center" valign="middle" style="padding: 0 10px;">
                          <a href="https://twitter.com/cranecloud_io" target="_blank" style="text-decoration: none;">
                              <i class="fa-brands fa-x-twitter" style="font-size:24px;color:black"></i>
                          </a>
                      </td>
                 </tr>
              </table>
          </td>
      </tr>
      <tr>
          <td align="center" valign="top" style="padding: 0 40px;">
              <!-- Copyright Text -->
              <p style="font-size: 12px; color: #333333; text-align: center; margin: 0;">Copyright &copy; 2024 Crane Cloud Limited</p>
              <p style="font-size: 12px; color: #333333; margin: 10px">This email was meant for {{email}}. If you received this email by mistake, please disregard it. <br>If you have any questions or need further assistance, please contact our support team.</p>
          </td>
      </tr>
 </table>
</table>
</body>
</html>
